[Unit]
Description=Radiosveglia -- apply radiosveglia.conf at boot
After=local-fs.target
Before=alarm.timer

[Service]
Type=oneshot
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
ExecStart=%h/scripts/apply-config.sh
ExecStartPost=systemctl --user daemon-reload
ExecStartPost=systemctl --user --no-block restart alarm.timer

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
